.container {
    padding: 20px;
}

.btn {
    background-color: white;
    padding: 5px;
}

.active {
    color: white;
    background-color: rgb(59, 53, 53);
}

.btn:nth-child(n + 1) {
    margin-left: 5px;
}

.projectsBox {
    column-count: 3;
    column-width: 30%;
}

.project {
    width: 100%;
    margin-top: 15px;
}